<a href="https://colab.research.google.com/github/Linda-Nwabunike/Data-science-batch-A/blob/main/Linda_Week_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#create a python list using a range function
# range function
my_range = range(10,20)
list(my_range)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
import numpy as np
#convert Numpy array from list
list(my_range)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
my_array=np.array(list(my_range))
#printing my_array
print(my_array)

[10 11 12 13 14 15 16 17 18 19]

In [5]:
my_array=np.array(list(my_range))
print("array type= " + str(type(my_array)))
print("data type = "+ str (my_array.dtype))

array type= <class 'numpy.ndarray'>
data type = int64

In [9]:
np.array=list(my_range)
list(my_range)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
mymatrix= [[10,11,12],[14,16,17,],[18,20,25]]
[mymatrix]

[[[10, 11, 12], [14, 16, 17], [18, 20, 25]]]

In [11]:
import numpy as np
#convert matrix to numpy array
numpy_array=np.array(mymatrix)

numpy_array

array([[10, 11, 12],
       [14, 16, 17],
       [18, 20, 25]])

In [12]:
type(numpy_array)

numpy.ndarray

In [22]:
import pandas as pd
#convert numpy array to pandas DataFrame
df_from_array= pd.DataFrame(numpy_array)
df_from_array

    0   1   2
0  10  11  12
1  14  16  17
2  18  20  25