<a href="https://colab.research.google.com/github/Linda-Nwabunike/Data-science-batch-A/blob/main/Project_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
#import the HRdataset and Explore
hr=pd.read_csv("/content/HRDataset.csv")
print(hr)

                Employee_Name  EmpID  ...  DaysLateLast30  Absences
0         Adinolfi, Wilson  K  10026  ...               0         1
1    Ait Sidi, Karthikeyan     10084  ...               0        17
2           Akinkuolie, Sarah  10196  ...               0         3
3                Alagbe,Trina  10088  ...               0        15
4            Anderson, Carol   10069  ...               0         2
..                        ...    ...  ...             ...       ...
306            Woodson, Jason  10135  ...               0        13
307        Ybarra, Catherine   10301  ...               5         4
308          Zamora, Jennifer  10010  ...               0        16
309               Zhou, Julia  10043  ...               0        11
310             Zima, Colleen  10271  ...               0         2

[311 rows x 36 columns]

In [3]:
#How many columns and Rows
hr.shape

(311, 36)

In [4]:
#variables in the dataset
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [5]:
#display  the columns
hr.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [6]:
#statistical display of dataset
hr.describe()

              EmpID   MarriedID  ...  DaysLateLast30    Absences
count    311.000000  311.000000  ...      311.000000  311.000000
mean   10156.000000    0.398714  ...        0.414791   10.237942
std       89.922189    0.490423  ...        1.294519    5.852596
min    10001.000000    0.000000  ...        0.000000    1.000000
25%    10078.500000    0.000000  ...        0.000000    5.000000
50%    10156.000000    0.000000  ...        0.000000   10.000000
75%    10233.500000    1.000000  ...        0.000000   15.000000
max    10311.000000    1.000000  ...        6.000000   20.000000

[8 rows x 18 columns]

In [7]:
#Type of data
hr.dtypes

Employee_Name                  object
EmpID                           int64
MarriedID                       int64
MaritalStatusID                 int64
GenderID                        int64
EmpStatusID                     int64
DeptID                          int64
PerfScoreID                     int64
FromDiversityJobFairID          int64
Salary                          int64
Termd                           int64
PositionID                      int64
Position                       object
State                          object
Zip                             int64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction                 int64
SpecialProjectsCount            int64
LastPerformanceReview_Date     object
DaysLateLast30                  int64
Absences                        int64
dtype: object

In [8]:
hr.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
306    False
307    False
308    False
309    False
310    False
Length: 311, dtype: bool

In [9]:
#display head and tail
hr.head()

              Employee_Name  EmpID  ...  DaysLateLast30  Absences
0       Adinolfi, Wilson  K  10026  ...               0         1
1  Ait Sidi, Karthikeyan     10084  ...               0        17
2         Akinkuolie, Sarah  10196  ...               0         3
3              Alagbe,Trina  10088  ...               0        15
4          Anderson, Carol   10069  ...               0         2

[5 rows x 36 columns]

In [10]:
hr.tail()

          Employee_Name  EmpID  ...  DaysLateLast30  Absences
306      Woodson, Jason  10135  ...               0        13
307  Ybarra, Catherine   10301  ...               5         4
308    Zamora, Jennifer  10010  ...               0        16
309         Zhou, Julia  10043  ...               0        11
310       Zima, Colleen  10271  ...               0         2

[5 rows x 36 columns]

In [11]:
#unique value for columns
hr['Sex'].unique()

array(['M ', 'F'], dtype=object)

In [12]:
#unique value for Maritaldesc
hr['MaritalDesc'].unique()

array(['Single', 'Married', 'Divorced', 'Widowed', 'Separated'],
      dtype=object)

In [13]:
#unique value for CitizenDesc
hr['CitizenDesc'].unique()

array(['US Citizen', 'Eligible NonCitizen', 'Non-Citizen'], dtype=object)

In [14]:
#unique value for state
hr['State'].unique()

array(['MA', 'TX', 'CT', 'VA', 'VT', 'AL', 'WA', 'CA', 'OH', 'IN', 'TN',
       'NH', 'RI', 'PA', 'CO', 'NY', 'UT', 'GA', 'FL', 'NC', 'KY', 'ID',
       'NV', 'MT', 'OR', 'ND', 'AZ', 'ME'], dtype=object)

In [15]:
#unique value for position
hr['Position'].unique()

array(['Production Technician I', 'Sr. DBA', 'Production Technician II',
       'Software Engineer', 'IT Support', 'Data Analyst',
       'Database Administrator', 'Enterprise Architect', 'Sr. Accountant',
       'Production Manager', 'Accountant I', 'Area Sales Manager',
       'Software Engineering Manager', 'BI Director',
       'Director of Operations', 'Sr. Network Engineer', 'Sales Manager',
       'BI Developer', 'IT Manager - Support', 'Network Engineer',
       'IT Director', 'Director of Sales', 'Administrative Assistant',
       'President & CEO', 'Senior BI Developer',
       'Shared Services Manager', 'IT Manager - Infra',
       'Principal Data Architect', 'Data Architect', 'IT Manager - DB',
       'Data Analyst ', 'CIO'], dtype=object)

In [16]:
#unique value for Department
hr['Department'].unique()

array(['Production       ', 'IT/IS', 'Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office'], dtype=object)

In [17]:
#unique value for PerformanceScore
hr['PerformanceScore'].unique()

array(['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP'], dtype=object)

In [18]:
hr.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [19]:
#fill the missing value
hr=hr.fillna('0')

In [20]:
#missing value filled.
hr.isnull().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [21]:
hr.drop('DateofTermination',axis=1,inplace=True)

In [22]:
hr.groupby('Sex',sort=True).count()

     Employee_Name  EmpID  ...  DaysLateLast30  Absences
Sex                        ...
F              176    176  ...             176       176
M              135    135  ...             135       135

[2 rows x 34 columns]

In [23]:
hr.to_csv('HRDataset-clean.csv')